*.props
*.v2
BookingComExample/.vs/BookingComExample/DesignTimeBuild/.dtbcache.v2
BookingComExample/.vs/BookingComExample/FileContentIndex/066b4b9c-30f1-4a56-b823-b9978b0f65c2.vsidx
BookingComExample/.vs/BookingComExample/FileContentIndex/0bfcb1e6-e08f-4ffe-b19e-f86817535a9b.vsidx
BookingComExample/.vs/BookingComExample/FileContentIndex/3af0860f-05bd-4728-9d13-2edd4f40c264.vsidx
BookingComExample/.vs/BookingComExample/FileContentIndex/4200dba8-af74-4d1b-b00f-231e6ab85ac5.vsidx
BookingComExample/.vs/BookingComExample/FileContentIndex/44566ba3-1998-4693-bf7e-524e1fd2da14.vsidx
BookingComExample/.vs/BookingComExample/FileContentIndex/966053f8-84fa-4f93-b09d-2329557fd96e.vsidx
BookingComExample/.vs/BookingComExample/FileContentIndex/b658dedd-1929-4eb5-a19b-a4aba06c2c8f.vsidx
BookingComExample/.vs/BookingComExample/FileContentIndex/bded9bd0-76fd-4d29-83ec-9336a9cff39d.vsidx
BookingComExample/.vs/BookingComExample/FileContentIndex/c75ef6d7-bb16-4ed8-a9c1-e08d84818366.vsidx
BookingComExample/.vs/BookingComExample/FileContentIndex/c844cc33-7e50-462c-b51f-a44ab836a657.vsidx
BookingComExample/.vs/BookingComExample/v17/.suo
BookingComExample/.vs/BookingComExample/v17/DocumentLayout.json
*.vsidx
*.vsidx
*.vsidx
*.xml
*.cache
*.targets
BookingComExample/.vs/BookingComExample/v17/DocumentLayout.backup.json
BookingComExample/src/BookingComExample.Domain/obj/BookingComExample.Domain.csproj.nuget.dgspec.json
BookingComExample/src/BookingComExample.Domain/obj/Debug/net6.0/BookingComExample.Domain.AssemblyInfo.cs
BookingComExample/src/BookingComExample.Domain/obj/Debug/net6.0/BookingComExample.Domain.AssemblyInfoInputs.cache
BookingComExample/src/BookingComExample.Domain/obj/Debug/net6.0/BookingComExample.Domain.csproj.FileListAbsolute.txt
BookingComExample/src/BookingComExample.Domain/obj/Debug/net6.0/BookingComExample.Domain.sourcelink.json
BookingComExample/src/BookingComExample.Domain/obj/project.assets.json
BookingComExample/src/BookingComExample.Domain/obj/project.packagespec.json
BookingComExample/src/BookingComExample.Domain/obj/rider.project.model.nuget.info
BookingComExample/src/BookingComExample.Domain/obj/rider.project.restore.info
BookingComExample/src/BookingComExample.Domain/obj/Debug/net6.0/BookingComExample.Domain.AssemblyInfoInputs.cache
BookingComExample/src/BookingComExample.Domain/obj/Debug/net6.0/BookingComExample.Domain.AssemblyInfoInputs.cache
BookingComExample/src/BookingComExample.Domain/obj/Debug/net6.0/BookingComExample.Domain.AssemblyInfo.cs
*.cache
